.CardBodyAYATab{
    width:30rem;
    height:36rem;
    margin-left:1rem;
    margin-top: 5rem;

 
}
.tabs{
    margin-left: 6rem ;
    margin-top: 5rem;

}

.Header{
    text-align: center;
    
}

.breadAYA{
   margin-top: 3rem;
   margin-left:2rem;
}

.tittle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px !important;
}
.subtittle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px !important;
    color: grey;

}
.AccordionGoal{
   margin-top: 25px;

}


@media screen and (max-width: 800px) {
     .CardBodyAYATab{
       /* The width is 100%, when the viewport is 800px or smaller  */
        margin-left:2rem;
        margin-top: 2rem; 
    } 
    .tabs{
        margin-left:2rem ;
        margin-top: 5rem;
        border:2px red solid;
    }
    
   }