.CardBodyAYATab{
    width:30rem;
    height:40rem;
    margin-left:1rem;
    margin-top: 5rem;

 
}
.tabsAYA{
    margin-left: 6rem ;
    margin-top: 5rem;

}

.HeaderAYA{
    text-align: center;
    
}

.breadAYA{
   margin-top: 3rem;
   margin-left:2rem;
}

.tittleAYA{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px !important;
}
.subtittleAYA{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px !important;
    color: grey;

}
.AccordionGoalAYA{
   margin-top: 25px;

}

.MDateAYA{
   color:black;
   font-size: 15px;
   font-weight: 20px;
   text-align: center;
}
.AccBody{
   color:black;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: 25px !important;
   text-align: center;
}
.Accbodyinner1{
    color:#d63447;
    font-weight: 200px !important;
}

.Accbodyinner2{
    color:#f3c623;
    font-weight: 100px;
}

.Accbodyinner3{
    color:#5c2a9d;
    font-weight: 100px;
}

.GoalGraph{
    text-align: center;
    margin-left: -90px;
}

@media screen and (max-width: 800px) {
     .CardBodyAYATab{
       /* The width is 100%, when the viewport is 800px or smaller  */
        margin-left:2rem;
        margin-top: 2rem; 
    } 
    .tabsAYA{
        margin-left:2rem ;
        margin-top: 5rem;
    }
    
   }