.CardBodyCWITab{
    width:30rem;
    height:40rem;
    margin-left:1rem;
    margin-top: 5rem;

 
}
.tabsCWI{
    margin-left: 6rem ;
    margin-top: 5rem;
  

}

.HeaderCWI{
    text-align: center;
    
}

.breadCWI{
   margin-top: 3rem;
   margin-left:2rem;
}

.tittleCWI{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px !important;
}
.subtittleCWI{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px !important;
    color: grey;

}
.AccordionGoalCWI{
   margin-top: 25px;

}

.MDateCWI{
    color:black;
    font-size: 15px;
    font-weight: 20px;
    text-align: center;
 }
 
 .AccBody{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 25px !important;
    text-align: center;
 }

 .passesd2{
    background-color: #709fb0 !important;
  }
  
  .tackled2{
      background-color: #b5076b !important;
  }
  
  .goald2{
      background-color: #45046a !important;
  }


.Accbodyinnerd1{
    color:#ff9234;
    font-weight: 200px !important;
}

.Accbodyinnerd2{
    color:#ffcd3c;
    font-weight: 100px;
}

.Accbodyinnerd3{
    color:#d92027;
    font-weight: 100px;
}

.Accbodyinnerd4{
    color:#45046a;
    font-weight: 200px !important;
}

.Accbodyinnerd5{
    color:#b5076b;
    font-weight: 100px;
}

.Accbodyinnerd6{
    color:#709fb0;
    font-weight: 100px;
}






@media screen and (max-width: 800px) {
     .CardBodyCWITab{
       /* The width is 100%, when the viewport is 800px or smaller  */
        margin-left:2rem;
        margin-top: 2rem; 
    } 
    .tabsCWI{
        margin-left:2rem ;
        margin-top: 5rem;
    }
    
   }