.CardBodyWVDTab{
    width:30rem;
    height:40rem;
    margin-left:1rem;
    margin-top: 5rem;

 
}
.tabsWVD{
    margin-left: 6rem ;
    margin-top: 5rem;

}

.HeaderWVD{
    text-align: center;
    
}

.breadWVD{
   margin-top: 3rem;
   margin-left:2rem;
}

.tittleWVD{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px !important;
}
.subtittleWVD{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px !important;
    color: grey;

}
.AccordionGoalWVD{
   margin-top: 25px;

}

.MDateWVD{
   color:black;
   font-size: 15px;
   font-weight: 20px;
   text-align: center;
}

.AccbodyinnerWVD1{
      color:#393e46;
      font-weight: 200px !important;
}

.Acc1{
    background-color:#45046a !important;
}

.Acc2{
    background-color: #b5076b!important;
}

.Acc3{
    background-color: #fa7d09!important;
}

.Acc4{
    background-color: #ff4301 !important;
}

.Acc5{
    background-color: #086972 !important;
}

.Acc6{
    background-color: #87dfd6 !important;
}

.Acc7{
    background-color: #393e46!important;
}




@media screen and (max-width: 800px) {
     .CardBodyWVDTab{
       /* The width is 100%, when the viewport is 800px or smaller  */
        margin-left:2rem;
        margin-top: 2rem; 
    } 
    .tabsWVD{
        margin-left:2rem ;
        margin-top: 5rem;
    }
    
   }