.resize{
margin-left: 35px;
margin-top:100px;
width: 100%;

}
@media screen and (max-width: 800px) {
    .resize{
         
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        margin-left: 0px;

       }
   }