.resize{
margin-left: 35px;
margin-top:100px;
width: 100%;
}

.bread{
    margin-top:0rem;
    margin-left:5.5rem;
    margin-right:15rem;
 }

@media screen and (max-width: 800px) {
    .resize{
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        margin-left: 0px;

       }
       .bread{
        margin-top:-5rem;
        margin-left:5rem;
        margin-right:10rem;
     }

   }