
.display{
    display: inline-block;
    padding: 25px;
}

.col1{
    /* border: springgreen 5px solid; */
    margin-top: 2rem;
    margin-left: -350px;
}

.col2{
     /* border:5px red solid; */
     margin-left: 22rem;
     margin-top: -65rem;
}  

.breadADD{
    margin-top:0rem;
    margin-left:5rem;
    margin-right:11rem;
}

@media screen and (max-width: 800px) {
      
       .col1{
            margin-left:0px;
         }

        .col2{
            visibility: hidden;
       }

        .display{
            display: inline-block;
            padding: 1px;
        }

   }