.CardBody{
    width:25rem;
    height:36rem;
    margin-top:3rem;
    margin-left: 22rem;
}
.center{
    text-align:center !important;
     margin-left:7rem !important;
     margin-top: 2rem !important;

}
.Cardtext{
    text-align: center !important;
}
.inputText{
    color: black;
}

.error{
    color:red !important;
}
@media screen and (max-width: 800px) {
    .CardBody{
       /* The width is 100%, when the viewport is 800px or smaller */
        margin-left:10%;
        margin-top: 2rem;
       }
   }