.CardBodyCWI{
    width:25rem;
    height:40rem;
    margin-top:2rem;
    margin-left: 22rem;
}
.centerCWI{
    text-align:center !important;
     margin-left:7rem !important;
     margin-top: 2rem !important;

}
.CardtextCWI{
    text-align: center !important;
    font-weight: 250px;;
}
.inputTextCWI{
    color: black;
}

@media screen and (max-width: 800px) {
    .CardBodyCWI{
       /* The width is 100%, when the viewport is 800px or smaller */
        margin-left:10%;
        margin-top: 2rem;
       }
   }