.CardBodyDUR{
    width:25rem;
    height:35rem;
    margin-top: 3rem;
    margin-left: 22rem;
}
.centerDUR{
     text-align:center !important;
     margin-left:7rem !important;
     margin-top: -45px !important;

}
.CardtextDUR{
    text-align: center !important;
    font-weight: 250px;;
}
.inputTextDUR{
    color: black;
}
.AlertDUR{
    text-align: center;
    font-size: 15px;

}
.Alert1DUR{
    text-align: center;
    font-size: 12px;
    color: red;
}
@media screen and (max-width: 800px) {
    .CardBodyDUR{
       /* The width is 100%, when the viewport is 800px or smaller */
        margin-left:10%;
        margin-top: 2rem;
       }
    }