.CardBodyWVD{
    width:25rem;
    height:38rem;
    margin-top:2rem;
    margin-left: 22rem;
}
.centerWVD{
    text-align:center !important;
     margin-left:7rem !important;
     margin-top: 2rem !important;

}
.CardtextWVD{
    text-align: center !important;
    font-weight: 250px;;
}
.inputTextWVD{
    color: black;
}
.AlertWVD{
    text-align: center;
    font-size: 15px;

}
.Alert1WVD{
    text-align: center;
    font-size: 12px;
    color: red;
}
@media screen and (max-width: 800px) {
    .CardBodyWVD{
       /* The width is 100%, when the viewport is 800px or smaller */
        margin-left:10%;
        margin-top: 2rem;
       }
   }